@{
    ViewData["Title"] = "Menu";
}

<h2>Menu Page</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 m-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Item Name</h5>
                    <p class="card-text">
                        Description: This is a short description.
                    </p>
                    <p class="card-text">Cost: $0.00</p>
                    <img src="https://via.placeholder.com/150" class="card-img-top" style="max-height: 200px; width:200px;" alt="Item Name">
                    <p>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>