@using System.Data.SqlClient;
@{
    ViewData["Title"] = "Login";
}









<div class="text-center">
    <h1 class="display-4">Login to UTR</h1>

    <p><a href="@Url.Action("Index", "Menu")">Menu</a></p>

</div>

<h1>Login</h1>
<div class="container">
    <form method="post" asp-action="Login" asp-controller="Login">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="pass">Password</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input type="email" name="email" class="form-controll" id="email">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <input type="password" name="pass"  class="form-controll" id="pass">
            </div>
        </div>
   </div>
  
   
    <button type="submit" class="btn btn-primary">Login</button>
    @if (ViewData["LoginError"] != null)
        {
            <div class="text-danger mt-2">@ViewData["LoginError"]</div>

        }
    </form>
    </div>
    <div class="justify-content-center col-12">
        <a href="@Url.Action("SignUp", "Login")" class="btn btn-primary form-control">SignUp</a>
    </div>

  

