<div class="container">
    <h1 class="text-center">Customer Support</h1>
    <p class="text-center">We welcome you to contact us using the below details</p>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="~/images/PhoneIcon.jpg" alt="PhoneIcon" width="80" height="80">
                    <h3 class="card-title">Call Us</h3>
                    <p class="card-text">1800-232-5334</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="~/images/EmailIcon.jpg" alt="EmailIcon" width="80" height="80">
                    <h3 class="card-title">Email Us</h3>
                    <p class="card-text">UTR@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">Talk with our Team</h3>
                    <form>
                        <input type="text" name="firstName" class="form-control mb-2" placeholder="First Name">
                        <input type="text" name="lastName" class="form-control mb-2" placeholder="Last Name">
                        <input type="email" name="email" class="form-control mb-2" placeholder="Email">
                        <textarea name="comment" class="form-control mb-2" placeholder="Comment" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
