@{
    ViewData["Title"] = "Feedback";
}

<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <div class="hero-section">
            <h1>FeedBack</h1>
            <p>Please provide out UTR team with some constructive feedback.</p>
        </div>
    </body>
</html>