@model WebBuilding_50080.Models.CartViewModel

<div class="container">
    <div class="row">
       
        <div class="col-md-6 cart-container">
            <h3>Your Cart</h3>
            @if (Model.Products.Any())
            {
                <ul class="list-group mb-3">
                    @foreach (var product in Model.Products)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">@product.Name</h6>
                                <small class="text-muted">Price: $@product.Price</small>
                            </div>
                            <button class="btn btn-outline-danger btn-sm" onclick="window.location.href='@Url.Action("Remove", "Cart", new { productName = @product.Name })'">Remove</button>
                        </li>
                    }
                </ul>

                <p class="h5">Total Price: $@Model.TotalPrice</p>

            }
            else
            {
                <p>Your cart is empty.</p>
            }
        </div>

       
        <div class="col-md-6 payment-container">
            <h3>Payment Information</h3>
            <form asp-controller="Payment" asp-action="OrderSummary" method="post">
                
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="FullName" class="form-label">Full Name</label>
                        <input type="text" id="FullName" name="FullName" asp-for="FullName" class="form-control" placeholder="Steave Malcom" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input type="text" id="Email" name="Email" asp-for=" Email" class="form-control" placeholder="steave@example.com" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="Address" class="form-label">Address</label>
                        <input type="text" id="Address" name="Address" asp-for="Address" class="form-control" placeholder="177 chase rd" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="City" class="form-label">City</label>
                        <input type="text" id="City" name="City" asp-for="City" class="form-control" placeholder="Adelaide" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="State" class="form-label">State</label>
                        <input type="text" id="State" name="State" asp-for="State" class="form-control" placeholder="SA" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Zip" class="form-label">Zip</label>
                        <input type="text" id="Zip" name="Zip" asp-for="Zip" class="form-control" placeholder="5000" required>
                    </div>
                </div>

            
                <h4 class="mt-3">Payment Details</h4>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="CardName" class="form-label">Name on Card</label>
                        <input type="text" id="CardName" name="CardName" asp-for="CardName" class="form-control" placeholder="Steave M" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="CardNumber" class="form-label">Credit Card Number</label>
                        <input type="text" id="CardNumber" name="CardNumber" asp-for="CardNumber" class="form-control" placeholder="1111-2222-3333-4444" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="ExpMonth" class="form-label">Exp Month</label>
                        <input type="month" id="ExpMonth" name="ExpMonth" asp-for="ExpMonth" class="form-control" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="CVV" class="form-label">CVV</label>
                        <input type="text" id="CVV" name="CVV" asp-for="CVV" class="form-control" placeholder="352" required>
                    </div>
                </div>

                <button class="btn btn-success">Proceed to Order Summary</button>
            </form>
        </div>
    </div>
</div>
