@{
    ViewData["Title"] = "Your Cart";
}

<h2>Your Cart</h2>

<ul>
    @if (ViewBag.CartItems != null)
    {
        foreach (var item in ViewBag.CartItems)
        {
            <li>Product Name: @item</li>
        }
    }
    else
    {
        <li>Your cart is empty.</li>
    }
</ul>
