@model WebBuilding_50080.Models.Order

<h2>Payment Page</h2>

<form method="post" asp-action="ProcessPayment" asp-controller="Cart">
    <div class="row mb-3">
        <div class="col-md-6">
            <h3>Billing Address</h3>
            <label for="fname" class="form-label"><i class="fas fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" class="form-control" placeholder="Steave Malcom" required>
            <label for="email" class="form-label"><i class="fas fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="steave@example.com" required>
            <label for="adr" class="form-label"><i class="fas fa-address-card"></i> Address</label>
            <input type="text" id="adr" name="address" class="form-control" placeholder="177 chase rd" required>
            <label for="city" class="form-label"><i class="fas fa-city"></i> City</label>
            <input type="text" id="city" name="city" class="form-control" placeholder="Adelaide" required>

            <div class="row">
                <div class="col-md-6">
                    <label for="state" class="form-label">State</label>
                    <input type="text" id="state" name="state" class="form-control" placeholder="SA" required>
                </div>
                <div class="col-md-6">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" id="zip" name="zip" class="form-control" placeholder="5000" required>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Payment</h3>
            <label for="cname" class="form-label">Name on Card</label>
            <input type="text" id="cname" name="cardname" class="form-control" placeholder="Steave M" required>
            <label for="ccnum" class="form-label">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" class="form-control" placeholder="1111-2222-3333-4444" required>
            <label for="expmonth" class="form-label">Exp Month</label>
            <input type="month" id="expmonth" name="expmonth" class="form-control" placeholder="September" required>

            <div class="row">
                <div class="col-md-6">
                    <label for="cvv" class="form-label">CVV</label>
                    <input type="text" id="cvv" name="cvv" class="form-control" placeholder="352" required>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden"  name="totalPrice"  value="@Model.TotalPrice"/>
    <input type="hidden" name="orderID" value="@Model.OrderId" />
    
    <input type="submit" value="Proceed with payment" class="btn btn-primary">
    <a href="/Home/Index" class="btn btn-danger">Cancel</a>
</form>
