@{
    ViewData["Title"] = "Payment Successful";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container text-center">
        <h2>@ViewData["Title"]</h2>
        <img src="~/images/QRCodeFrame.png" alt="QRCodeframe" class="img-fluid">
        <p>Show this QR Code to the staff at the front counter</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</body>
</html>
