@page
@model WebBuilding_50080.Views.View_Order.ViewModel
@{
}

<div class="bg-light py-1 mt-2 text-center">
    <h2 class="text-center">Customer Orders</h2>
</div>

<form>
    <div class="row table table-stripped">
        <div class="col-12 mb-3">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Details</th>
                        <th>Extra Info</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>Milk</td>
                        <td>I'm lactose and torrant</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>Curry</td>
                        <td>Curry ass muncher</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Coke</td>
                        <td>pepsi</td>
                    </tr>
                </tbody>



            </table>



        </div>
    </div>
</form>

