@{
    ViewData["Title"] = "Petrol Stations Management Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>

    </head>
    <body>
        <div class="container">
            <h1>Welcome to the UTR Price Management page</h1>
            <table>
                <thead>
                    <tr>
                        <th>Fuel Type</th>
                        <th>Current Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fuel in Model)
                {
                    <tr>
                        <td>@fuel.FuelType</td>
                        <td>@fuel.CurrentPrice</td>
                    </tr>
                }
            </tbody>
            </table>
            <a href="/PetrolStations/UpdateFuelPrice">Update Fuel Price</a>
        </div>
    </body>
</html>
